@media only screen and (max-width: 1200px)
{
	.header__top
	{
		display: none;
	}
	#content
	{
		width: 100%;
		height: 100%;
	}
	.navbar-nav .nav-item
	{
		display:none;
	}
	.form__search .form-control
	{
		width: 70rem !important;
		height: 4rem;
	}
	.footer__menu
	{
		display: none !important;
	}
	.footer .container
	{
		margin: 0;
		padding: 0;
		max-width: 100%;
	}
	button.slick-next.slick-arrow
	{
		display: none;
	}
	/* .card-body:nth-child(n+1)
	{
		width: 345px;
		height: 200%;
		margin-right: 9px;
	} */

}
@media only screen and (max-width: 992px)
{
	.header__top
	{
		display: none;
	}
	.col-lg-3.my-3
	{
		width: 30%;
		left: -90px;
	}
	.col-lg-2.my-4.contact__info
	{
		width: 20%;
		left: -90px;
	}
	.col-lg-3.my-4.contact__info
	{
		width: 20%;
		left: -70px;
	}
	.col-lg-4.my-4.contact__info
	{
		width: 30%;
		line-height: 13px;
	}
	#content
	{
		width: 100%;
		height: 100%;
	}
	.navbar-nav .nav-item
	{
		display:none;
	}
	.form__search .form-control
	{
		width: 530px!important;
		height: 4rem;
	}
	.footer__menu
	{
		display: none !important;
	}
	.footer .container
	{
		margin: 0;
		padding: 0;
		max-width: 100%;
	}
	.slick-prev:before, .slick-next:before
	{
		display: none;
	}
	.content-left
	{
		display:none;
	}
	.content-right
	{
		width: 100% !important;
	}
	.footer__info
	{
		display: block !important;
	}
	.time__open p
	{
		background-color: #395796 !important;
	}
	.footer__info-support,.footer__info-contact ,.footer__info-map
	{
		width: 100% !important;
	}

	.footer__info-support li
	{
		width: 100%;
		height: 30px;
	}
	.footer__info-support li a,.footer__info-contact p
	{
		font-size: 14px;
	}
	.footer__info-support h3,.footer__info-contact h3,.footer__info-map h3
	{
		font-size: 18px;
	}
	.footer .container
	{
		width: 100% !important;
		height: 870px !important;
		background-color: #395796 !important;
	}
	.end
	{
		position: absolute;
		left: 160px;
		background-color: #fff;
		width: 700px;
		height: 50px;
	}
	.end p
	{
		font-size: 14px !important;
		font-weight: 700;

	}


}
@media only screen and (max-width: 768px)
{
	.content
	{
		max-width: 100%;
	}
	.content .container
	{
		max-width: 100%;
		padding: 0;
	}
	footer
	{
		position: relative;
	}
	.end
	{
		position: absolute;
	}
	
}
@media only screen and (max-width: 576px)
{

}
@media only screen and (max-width:416px)
{

}